@use '../core/variables' as *;

.button {
  display: flex !important;
  gap: 14rem;
  align-items: center !important;
  justify-content: center !important;
  max-width: fit-content !important;
  border: 1rem solid $color-black;
  border-radius: 32rem;
  padding: 12rem 24rem;
  font-weight: 600;
  white-space: nowrap;
}
