@use '../adaptive/media-queries' as *;
@use '../core/variables' as *;

.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  background-color: $color-dark-black;
  padding: 240rem 320rem;

  @include laptop {
    padding: 240rem 64rem;
  }

  @include tablet {
    padding: 240rem 32rem;
  }

  @include phone {
    padding: 144rem 16rem;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 56rem;

    .footer__contacts {
      .footer__title {
        text-transform: uppercase;
        color: $color-white;
        margin-bottom: 16rem;
      }

      .footer__number {
        display: inline-block;
        font-size: 32rem;
        font-weight: 600;
        color: $color-white;
        margin-bottom: 8rem;
        transition: color 0.2s ease;

        &:hover {
          color: $color-blue-accent;
        }

        &:active {
          color: $color-dark-blue;
        }
      }
    }

    .social {
      display: flex;
      gap: 24rem;

      .network {
        color: $color-white;
        font-weight: 600;

        &__container {
          display: flex;
          gap: 8rem;
          transition: color 0.2s ease;

          &:hover {
            color: $color-blue-accent;
          }

          &:active {
            color: $color-dark-blue;
          }
        }
      }
    }

    .footer__work {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .footer__time {
        margin-top: 8rem;
        color: $color-white;
        font-weight: 300;
        line-height: 24rem;
      }

      .footer__mail {
        display: inline-block;
        color: $color-white;
        font-weight: 600;
        transition: color 0.2s ease;

        &:hover {
          color: $color-blue-accent;
        }

        &:active {
          color: $color-dark-blue;
        }
      }
    }
  }
}

.footer__bottom {
  padding: 24rem 320rem;

  @include laptop {
    padding: 24rem 64rem;
  }

  @include phone {
    padding: 144rem 16rem;
  }

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20rem;
  border-top: 1rem solid $color-black;
  background-color: $color-dark-black;
  color: $color-white;
  font-weight: 300;
  font-size: 12rem;
}
