@use '../adaptive/media-queries' as *;
@use '../core/variables' as *;

.header {
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24rem 320rem;

    @include laptop {
      padding: 24rem 64rem;
    }

    @include tablet {
      padding: 24rem 32rem;
    }

    @include phone {
      padding: 8rem 8rem;
    }

    .logo {
      width: 64rem;
      height: 64rem;

      @include tablet {
        width: 48rem;
        height: 48rem;
      }

      @include phone {
        width: 40rem;
        height: 40rem;
      }
    }

    .header__menu {
      margin-left: auto;

      &-list {
        display: flex;
        align-items: center;
        gap: 40rem;

        @include phone {
          gap: 13rem;
        }

        .burger {
          display: none;
          font-weight: 600;
          color: $color-black;

          ._icon-burger {
            display: flex;
            align-items: center;
            gap: 9px;
            color: $color-black;
            transition: color 0.3s ease;

            @include phone {
              span {
                display: none;
              }
            }

            &:hover {
              color: $color-blue-accent;
            }

            &:active {
              color: $color-dark-blue;
            }
          }

          @include tablet {
            display: block;
          }

          @include phone {
            display: block;
          }
        }

        .header__menu-link {
          display: inline-block;
          font-weight: 600;
          color: $color-black;
          transition: color 0.3s ease;

          @include phone {
            display: none;
          }

          @include tablet {
            display: none;
          }

          &:hover {
            color: $color-blue-accent;
          }

          &:active {
            color: $color-dark-blue;
          }
        }
      }
    }
  }
}
