@use '../adaptive/media-queries' as *;
@use '../core/variables' as *;

.main {
  margin-bottom: 240rem;
  margin-top: 128rem;

  .hero {
    display: flex;
    align-items: center;
    padding: 24rem 320rem;

    @include laptop {
      padding: 24rem 64rem;
    }

    @include tablet {
      padding: 24rem 32rem;
    }

    @include phone {
      padding: 24rem 16rem;
    }

    .hero__title {
      display: flex;
      flex-direction: column;
      font-size: 64rem;
      font-weight: 800;
      margin-bottom: 32rem;

      @include tablet {
        font-size: 40rem;
      }

      @include phone {
        font-size: 40rem;
      }
    }

    .main__button {
      color: $color-white;
      background-color: $color-blue-accent;
      padding: 16rem 32rem;
      border: 1rem solid $color-blue-accent;
      transition: background-color 0.2s ease;

      @include phone {
        padding: 16rem 83.5rem;
      }

      &:hover {
        border-color: $color-light-blue;
        background-color: $color-light-blue;
      }

      &:active {
        border-color: $color-dark-blue;
        background-color: $color-dark-blue;
      }
    }
  }
}
