@use '../adaptive/media-queries' as *;
@use '../core/variables' as *;
@use '../core/function' as *;

.main {
  margin-bottom: rem(240);
  margin-top: rem(128);

  &__inner {
    display: flex;
    align-items: center;
    padding: rem(24) rem(320);

    @include laptop {
      padding: rem(24) rem(64);
    }

    .main__title {
      display: flex;
      flex-direction: column;
      font-size: rem(64);
      font-weight: 800;
      margin-bottom: rem(32);
    }

    .main__button {
      color: $color-white;
      background-color: $color-blue-accent;
      padding: rem(16) rem(32);
      border: rem(1) solid $color-blue-accent;
      transition: background-color 0.2s ease;

      &:hover {
        border-color: $color-light-blue;
        background-color: $color-light-blue;
      }

      &:active {
        border-color: $color-dark-blue;
        background-color: $color-dark-blue;
      }
    }
  }
}
