@font-face {
  font-family: 'Geologica';
  src: url('/public/font/GeologicaRoman-ExtraLight.woff2') format('woff2');
  font-weight: 250;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geologica';
  src: url('/public/font/GeologicaRoman-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geologica';
  src: url('/public/font/GeologicaRoman-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Geologica';
  src: url('/public/font/GeologicaRoman-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
